.modalContainer {
  z-index: 99;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 0;
}

.modal {
  position: absolute;
  box-sizing: border-box;
  z-index: 100;
  top: 30%;
  left: 35%;
  width: 30%;
  height: 40%;
  padding: 1em;
  text-align: center;
  background-color: #eeecec;
  border-radius: 10px;
}
.bottom {
  margin-top: 1em;
}

.button {
  background-color: #6b9080;
  color: #f6fff8;
  border: none;
  border-radius: 5px;
  padding: 7px 12px;
  margin: 5px;
}
.button:hover {
  cursor: pointer;
  background-color: #a4c3b2;
}

.input {
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid gray;
}

.newGameDiv {
  margin-top: 50px;
}

.friendDiv {
  padding: 2em 1em;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 5%;
  font-size: 26px;
  border: none;
  background-color: #eeecec;
}

.closeButton:hover {
  cursor: pointer;
}
